<%+header%>

<script type="text/javascript">
//<![CDATA[

function updateLists()
{
	var ovpnlist = [];
	var placeholder = _('No information available');
	cbi_update_table('#ovpnconfigs', [],
		E('div', { 'class': 'spinning' }, _('Loading OpenVPN configs…')));

	L.get('admin/vpn/lanbridge/list', null, function(xhr, j) {
		parseList(j, ovpnlist)
		cbi_update_table('#ovpnconfigs', ovpnlist, placeholder);
	});
}

function handleHideModal(ev){
	L.hideModal();
}

function handleGenerate(ev){
	var name = document.querySelector('input[name="new-profile-name"]').value;
	var remote = document.querySelector('input[name="new-remote-addr"]').value;
	var conntype = document.querySelector('input[name="new-conn-type"]').checked ? "tun" : "tap";
	if ( name == "" || remote == "" ){
		var dlg = L.showModal(_('Error.'), [
			E('p', _('Profile name and remote address are mandatory…')),
			E('div', {
				'class': 'btn cbi-button-negative',
				'click': handleHideModal
			}, _('Close'))
		]);
		return;
	}
	var url = "admin/vpn/lanbridge/generate/" + name + "/" + remote + "/" + conntype;
	var dlg = L.showModal(_('Generating new config.'), [
		E('p', { 'class': 'spinning' },
			_("New name: " + name + "<br> Remote: " + remote + "<br> Waiting for the generation command to complete. <br> It may take up to several minutes…"))
	]);
	L.post(url, null, function(xhr,j){
			L.hideModal();
			updateLists();
		}
	);
	

}

function handleDelete(ev){
	var name = ev.target.getAttribute('data-package');
	var url = "admin/vpn/lanbridge/delete/" + name;
	var dlg = L.showModal(_('Deleting config ' + name), [
		E('p', { 'class': 'spinning' },
			_('Waiting for the deletion command to complete…'))
	]);
	L.post(url, null, function(xhr,j){
			L.hideModal();
			updateLists();
		}
	);
	
}

function handleDownload(ev){
	var name = ev.target.getAttribute('data-package');
	var url = "lanbridge/dload/" + name;
	window.location = url;
}

function parseList(src, dest){
	var btn_dload, btn_delete, name;
	
	for (var i in src) {
	
		name = src[i];
		btn_delete = E('div', {
			'class': 'btn cbi-button-negative',
			'data-package': name,
			'click': handleDelete
		}, _('Revoke & Delete'));
		
		btn_dload = E('div', {
			'class': 'btn cbi-button-action',
			'data-package': name,
			'click': handleDownload
		}, _('Download…'));
	
		dest.push([ name, btn_delete, btn_dload ]);
	}
}


window.requestAnimationFrame(function() {
	XHR.poll(2, '<%=url('admin/vpn/lanbridge/genstatus')%>', null, 
		function(x, st){
			var msg = document.getElementById('genstatus');
			if(st > 0){
				msg.className = "alert-message";
			}else{
				msg.className = "hidden";
			}
			
		}
	);
	updateLists();
});
//]]>
</script>

<div class="hidden" id="genstatus">
	<h4>Certificates generation in process!</h4>
	Wait for couple minutes for generation to complete. This message will automatically disappear when process is finished.
</div>

<div class="cbi-page-actions">
	<label><%:Create new client Profile%>:</label>
	<input type="text" name="new-profile-name" placeholder="<%:Enter new profile name…%>"/>
	<input type="text" name="new-remote-addr" placeholder="<%:Enter remote address (WAN address)…%>"/>
	<div><input type="checkbox" name="new-conn-type" />Select for TUN connection</div>
	<button class="btn cbi-button" onclick="handleGenerate(event)"> <%:Generate %> </button>
</div>

<br>
<div class="table" id="ovpnconfigs">
	<div class="tr cbi-section-table-titles">
		<div class="th col-5 left"><%:Config name%></div>
		<div class="th right"><%:Delete%></div>
		<div class="th right"><%:Download%></div>
	</div>
</div>

<%+footer%>
